* {
	padding: 0;
	margin: 0;
	font-family: '微软雅黑';
	background-color: #ffd0e8;
	font-size: 15px;

}

body {
	overflow: hidden;
	font-family: '微软雅黑';
}

.div_cost {
	border: 1px solid #002200;
	margin: 25px;
	background-color: #002200;
	font-weight: normal;
	width: auto;
	height: 50px;
}

.div_back {
	border: 1px solid #002200;
	margin: 15px;
	background-color: #002200;
	font-weight: normal;
	float: right;
	width: 20px;
	height: 20px;
}

.div_btn {
	border: 1px solid #002200;
	margin: 25px;
	background-color: #002200;
	font-weight: normal;
	float: right;
	width: 100px;
	height: 100px;
}

p input {
	border: none;
}


#back {
	background: #abcdef;
	font-size: 15px;
	font-family: '微软雅黑';
	float: right;
	margin: 0 20px;
	border: none;
}

table {
	margin: 100px auto;
	width: 90%;
	border-collapse: collapse;
}

table th, table td {
	border: 1px solid #002200;


}












